.button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    gap: 5px;
    transition: .2s;
    min-width: 196px;
}

.button path {
    transition: .2s;
}

.button:hover {
    background-color: #65d965;
    color: white;
}

.button:hover path {
    stroke: white;
}